* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: (0, 0, 0, 0);
    text-align: center;
    margin: 0;
}

.ini{
    font-size: 200%;
    font-family: 'Press Start 2P';
    padding-top: 50px;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.q1 {
    animation: floating 2s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q2 {
    animation: floating 2.1s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q3 {
    animation: floating 2.2s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q4 {
    animation: floating 2.3s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q5 {
    animation: floating 2.4s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q6 {
    animation: floating  2.5s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

.q7 {
    animation: floating 2.6s infinite, anim 5s infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3px;
    margin-left: 3px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes anim{
    0% {color: #0476D9;}
   25% {color: #2B8C3A;}
   50% {color: #F2A30F;}
   75% {color: #D91E1E;}
  100% {color: #0476D9;}
}

h2{
    font-size: 200%;
    font-family: 'Press Start 2P';
    padding-top: 50px;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: Silkscreen;
    margin-top: 50%;
    margin-bottom: 33%;
    font-size: 100%;
}

.w1{
    border: 1px solid;
    border-color: #B3B3B3;
}

button{
    color: red;
    background-color: transparent;
    border: none;
    font-size: 100%;
    font-family: Silkscreen;
    cursor: pointer;
    padding: 5px;
    margin-top: 25%;
    -webkit-tap-highlight-color: (0, 0, 0, 0);
}

.blink {
    animation: blink-animation .8s steps(5, start) infinite;
    -webkit-animation: blink-animation .8s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.pag1, .pag3, .pag5{
    background-color: #B3B3B3;
    min-height: 640px;
    min-width: 360px;
}

.pag2, .pag4{
    background-color: #757575;
    min-height: 640px;
    min-width: 360px;
}

.img_left {
    max-width: 30%;
    max-height: 30%;
    float: left;
   }

.img_right {
    max-width: 30%;
    max-height: 30%;
    float: right;
   }